<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title URL Shortner
  body
    if !shortUrl
      form(action="/", method="POST")
        input(type="text", name="url", placeholder="https://url.com", value=url ? url : '')
        input(type="submit", value="Submit")
      if error
        p.error=error
    else
      h1 Your shortened URL:
      a(href=shortUrl)=shortUrl
      br
      br
      a(href="/") Create another?
